@tailwind base;
@tailwind components;
@tailwind utilities;

.plus-jakarta {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.button-secondary {
  background-color: #f0effa;
  color: #635fc7;
}
.button-secondary:hover {
  background-color: #d8d7f1;
}
